/* photo */

#photo {
    width: 15%;
    height: 15%;
    position: static;
    border-radius: 1.5vw;
    margin: 12vw 0 0 70vw;
}


/* text */

#about>h1 {
    font-size: 3.5vw;
    margin: -31vw 0vw 0vw 0vw;
    text-align: center;
    font-style: italic;
}

#about>p {
    width: 50%;
    font-size: 1.5vw;
    margin: 3vw 0 0 14vw;
    background-color: white;
}

#about {
    margin-top: -29vw;
    padding-bottom: 2vw;
}


/* side */

#side {
    position: static;
    margin: -20vw 0 0 65vw;
    font-size: 1.5vw;
    border-color: #DBB0FD;
    border-width: 0.35vw;
    border-style: dotted;
    border-radius: 1vw;
    padding-left: 2vw;
    width: 22vw;
    background-color: white;
}


/* responsive design */

@media screen and (max-width:900px) {
    #side {
        margin-top: -150vw;
    }
}