/* background */

body {
    background-image: url(../Images&files/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/* home icon */

#white-home {
    width: 3.5vw;
    height: 3.5vw;
    padding: 1vw 0 0 1.5vw;
    margin-right: -0.5vw;
    position: relative;
    z-index: 2;
}

#white-home:hover {
    content: url('../Images&files/home2.png');
}

body>canvas {
    position: fixed;
    display: block;
    z-index: 1;
    margin: -2vw 0 0 -5vw;
}


/* headlines */

h1,
h2,
a {
    font-family: 'Times New Roman';
}

div>h1 {
    font-size: 4.5vw;
}

div>h2 {
    font-size: 3.5vw;
}

body>div {
    margin-top: 10vw;
    position: relative;
    z-index: 2;
    width: 50%;
    color: white;
    text-align: center;
    font-style: italic;
    margin-left: 25vw;
}


/* button */

#explore-button {
    text-align: center;
    margin-left: -15.5vw;
    color: white;
    font-size: 2.2vw;
    text-decoration: none;
    padding: 0.5vw 0.9vw 0.6vw 0.8vw;
    border-style: dotted;
    border-radius: 0.6vw;
    position: relative;
    z-index: 3;
    margin: 0 0 0 42vw;
    border-width: 0.2vw;
}

#explore-button:hover {
    background-color: #DBB0FD;
    color: rgb(0, 0, 0);
    opacity: 0.5;
}