    /* side nav */
    
    #sub-nav {
        display: block;
        width: 20vw;
        position: fixed;
        font-size: 1.5em;
        list-style-type: none;
        margin-top: 10vw;
        text-align: center;
        border: 0.3vw solid rgb(190, 189, 189);
        border-radius: 0.5em;
        background-color: rgb(243, 239, 250);
        opacity: 0.8;
    }
    
    #sub-nav>bl>a>li {
        padding-bottom: 1vw;
    }
    
    #sub-nav>bl>a:hover {
        color: #8239c5;
    }
    
    #sub-nav>bl>a {
        text-decoration: none;
        color: black;
    }
    
    #close-nav {
        margin-left: 16vw;
        padding-top: 0.5vw;
        width: 1.5em;
        height: 1.5em;
    }
    
    #open-nav {
        width: 2.4em;
        height: 2.4em;
        position: fixed;
        display: none;
        margin: 10.6vw 0 0 0vw;
    }
    /* text */
    
    article>h1 {
        font-size: 3.5vw;
        text-align: center;
        font-family: 'Times New Roman';
        font-style: italic;
    }
    
    article>section>h2 {
        font-size: 2vw;
        margin: 0 0 0 14vw;
    }
    
    article>p {
        width: 50%;
        font-size: 1.5vw;
        margin: 0 0 0 14vw;
    }
    
    article {
        margin-top: 0vw;
        padding-bottom: 2vw;
    }
    /* contact options */
    
    #contact {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75vh;
        perspective: 500px;
        margin-top: -3vw;
        margin-right: -4vw;
    }
    
    .front {
        transition: 0.5s;
        position: relative;
        width: 25vw;
        height: 20vw;
        border-radius: 4em;
        margin-right: 4vw;
        backface-visibility: hidden;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
        background-image: linear-gradient(200deg, #e0c7e3, #badbe9);
    }
    
    .back {
        position: relative;
        width: 25vw;
        height: 20vw;
        border-radius: 4em;
        margin-right: 4vw;
        background-image: linear-gradient(200deg, #e0c7e3, #badbe9);
        backface-visibility: hidden;
        transition: all 0.5s;
        transform: rotateY(180deg);
        margin-top: -21.2vw;
    }
    
    .card:hover .front {
        transform: rotateY(180deg);
    }
    
    .card:hover .back {
        transform: rotateY(0);
    }
    
    #email:hover .back {
        margin-right: 7vw;
    }
    
    #linkedin:hover .back {
        margin-left: 3vw;
        margin-right: 7vw;
    }