    /* side nav */
    
    #sub-nav {
        display: block;
        width: 20vw;
        position: fixed;
        font-size: 1.5em;
        list-style-type: none;
        margin-top: 10vw;
        text-align: center;
        border: 0.3vw solid rgb(190, 189, 189);
        border-radius: 0.5em;
        background-color: rgb(243, 239, 250);
        opacity: 0.8;
    }
    
    #sub-nav>bl>a>li {
        padding-bottom: 1vw;
    }
    
    #sub-nav>bl>a:hover {
        color: #8239c5;
    }
    
    #sub-nav>bl>a {
        text-decoration: none;
        color: black;
    }
    
    #close-nav {
        margin-left: 16vw;
        padding-top: 0.5vw;
        width: 1.5em;
        height: 1.5em;
    }
    
    #open-nav {
        width: 2.4em;
        height: 2.4em;
        position: fixed;
        display: none;
        margin: 10.6vw 0 0 0vw;
    }
    /* text */
    
    article>h1 {
        font-size: 3.5vw;
        text-align: center;
        font-family: 'Times New Roman';
        font-style: italic;
    }
    
    article>section>h2 {
        font-size: 2vw;
        margin: 0 0 0 14vw;
    }
    
    article>p {
        width: 50%;
        font-size: 1.5vw;
        margin: 0 0 0 14vw;
    }
    
    article {
        margin-top: 0vw;
        padding-bottom: 2vw;
    }