      /* background */
      
      body {
          background-image: url(../Images&files/background2.png);
          background-repeat: repeat-y;
          background-size: 100vw auto;
      }
      /* navigation */
      
      nav {
          float: right;
          margin: 1.7vw 2.1vw 0 0vw;
      }
      
      nav>span {
          color: black;
          font-size: 1.5vw;
      }
      
      nav>a {
          color: black;
          font-size: 2vw;
          text-decoration: none;
          text-align: center;
      }
      
      #selected-nav {
          color: #8a21aa;
          font-style: italic;
      }
      
      nav>a:hover {
          color: #8239c5;
      }
      
      #navigation {
          width: 100%;
          height: 5vw;
      }
      /* home icon */
      
      #home-icon {
          width: 3.5vw;
          height: 3.5vw;
          margin: 1vw 0 0 1.5vw;
      }
      
      @media screen and (min-width:900px) {
          #home-icon:hover {
              content: url('../Images&files/home2.png');
          }
      }
      /* text */
      
      p,
      h1,
      h2,
      h3,
      ul,
      a {
          font-family: 'Times New Roman';
      }